resume-page {
  background-color:@MainBlue;
  max-width: 816px;
  display: block;
  margin: 20px auto 0;

  a#resume-download {
    width:100%;
    background-color:white;
    text-decoration:none;
    color:@MainBlueDark;
    display:inline-block;
    text-align:center;
    margin:0 0 20px;
    padding:5px 0;
    font-weight:300;
    span.fa {
      margin:0 0 0 5px;
    }
    box-shadow: @ShadowColors;
  }


  h1{
    font-size:2.3em;
  }
  #google-resume-doc.loaded {
    //animation: .5s fade-in;
    //opacity:1;
    .doc-container {
      padding: 31.7pt 57.6pt 27pt 57.6pt;
    }
  }
  #google-resume-doc {
    box-shadow: @ShadowColors;
    max-width:816px;
    width:100%;
    border:0;
    margin:0 0 80px;
    background-color:white;
    -webkit-font-smoothing: antialiased;
    // opacity:0;
    // box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    .doc-container {
      max-width: 496.8pt;
      padding: 0;
    }
  }
}

@media (max-width:640px) {
  resume-page {
    #google-resume-doc.loaded {
      .doc-container {
        padding: 5.7pt 23.6pt 5.7pt 23.6pt;
      }
    }
  }
}
@media (max-width:480px) {
  resume-page {
    #google-resume-doc.loaded {
      .doc-container {
        padding: 2.7pt 13.6pt 2.7pt 13.6pt;
      }
    }
  }
}