html {
  height: 100%;
  background-color: #99cfcf;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: Lato, 'sans-serif';
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(31, 45, 61, 0.5);
}
.view-container,
.view-frame {
  position: relative;
  height: 100%;
}
global-navigation {
  max-width: 1080px;
  width: 100%;
  height: 80px;
  display: block;
  margin: 20px auto 0;
}
global-navigation #main-logo {
  display: inline-block;
  cursor: pointer;
}
global-navigation #main-logo h1 {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  padding-top: 0;
}
global-navigation #main-logo h6 {
  margin: 0;
  font-weight: 300;
  color: rgba(31, 45, 61, 0.7);
  font-size: 1em;
  letter-spacing: .015em;
}
global-navigation .main-nav {
  float: right;
  display: inline-block;
  height: 39px;
}
global-navigation .main-nav ul {
  margin: 0;
  padding: 14px 0 0;
  list-style: none;
}
global-navigation .main-nav ul li {
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 10px;
  vertical-align: top;
  font-size: 16px;
  color: rgba(31, 45, 61, 0.5);
  font-family: Lato;
}
global-navigation .main-nav ul li a {
  text-decoration: none;
  color: rgba(31, 45, 61, 0.5);
  font-weight: 300;
}
global-navigation .main-nav ul li a span {
  display: block;
}
global-navigation .main-nav ul li a span.bottom-border {
  width: 0;
  display: block;
  height: 2px;
  background-color: rgba(31, 45, 61, 0.5);
  margin: 5px auto;
}
global-navigation .main-nav ul li a.active span.bottom-border {
  animation: 0.25s roll-over;
  width: 100%;
}
global-navigation .main-nav ul li a.inactive span.bottom-border {
  animation: 0.25s roll-out;
  width: 0;
}
@keyframes roll-over {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes roll-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
global-navigation.footer {
  margin: 0 auto;
  height: 100px;
}
home-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
}
home-page h1 {
  font-size: 2.3em;
}
about-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
  height: 100%;
}
about-page h1 {
  font-size: 2.3em;
}
contact-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
}
contact-page h1 {
  font-size: 2.3em;
}
portfolio-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
}
portfolio-page h1 {
  font-size: 2.3em;
}
resume-page {
  background-color: #99cfcf;
  max-width: 816px;
  display: block;
  margin: 20px auto 0;
}
resume-page h1 {
  font-size: 2.3em;
}
resume-page #google-resume-doc {
  max-width: 816px;
  width: 100%;
  border: 0;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  margin: 0 0 80px;
  background-color: white;
}
resume-page #google-resume-doc .container {
  max-width: 496.8pt;
  padding: 31.7pt 57.6pt 27pt 57.6pt;
}
resume-page #google-resume-doc .container .c16 {
  font-weight: 300;
}
resume-page #google-resume-doc .container .c18 {
  margin-left: 0;
}
/* View: Project list */
project-list {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
project-list h1 {
  font-size: 2.3em;
}
project-list ul {
  list-style: none;
  padding: 0;
}
project-list ul li.project-list-item a {
  text-decoration: none;
  color: rgba(31, 45, 61, 0.5);
}
/* View: Project detail */
project-detail {
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
project-detail h1 {
  font-size: 2.3em;
}
project-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
project-detail ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
}
project-detail ul li h1 {
  font-size: 2.3em;
}
.project-list-item.ng-enter,
.project-list-item.ng-leave,
.project-list-item.ng-move {
  transition: 0.5s linear all;
}
.project-list-item.ng-enter,
.project-list-item.ng-leave.ng-leave-active,
.project-list-item.ng-move {
  opacity: 0;
}
.project-list-item.ng-enter.ng-enter-active,
.project-list-item.ng-leave,
.phone-list-item.ng-move.ng-move-active {
  opacity: 1;
}
.view-frame.ng-enter,
.view-frame.ng-leave {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}
.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
