html {
  height: 100%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: Lato, 'sans-serif';
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(31, 45, 61, 0.5);
}
body #app-wrap {
  min-height: 100%;
  background-color: #99cfcf;
}
.view-container {
  background-color: #99cfcf;
  padding: 55px 0 0;
}
.view-frame {
  background-color: #99cfcf;
  display: inline-block;
  width: 100%;
}
global-navigation {
  width: 100%;
  display: block;
}
global-navigation #header {
  z-index: 1000;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.19), 3px 0 3px 0 rgba(0, 0, 0, 0.19), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
  background-color: white;
  position: fixed;
}
global-navigation #header #main-logo {
  display: inline-block;
  height: 100%;
}
global-navigation #header #main-logo a:hover .line-art span.outline img {
  opacity: .75;
}
global-navigation #header #main-logo a {
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}
global-navigation #header #main-logo a .line-art {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 5px;
}
global-navigation #header #main-logo a .line-art span.outline img {
  width: 40px;
  position: absolute;
  opacity: .5;
  display: inline-block;
}
global-navigation #header #main-logo a .line-art span.outline.home img {
  opacity: .75;
}
global-navigation #header #main-logo a .line-art span.initials img {
  width: 40px;
  position: absolute;
  opacity: .5;
  display: inline-block;
}
global-navigation #header #main-logo a h1 {
  font-weight: 500;
  font-size: 1.5em;
  margin: 5px 0 0 40px;
  padding-top: 0;
  color: rgba(31, 45, 61, 0.5);
  display: inline-block;
}
global-navigation #header #main-logo a h6 {
  margin: 11px 0 0 5px;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: .015em;
  color: rgba(31, 45, 61, 0.7);
  display: inline-block;
  vertical-align: top;
}
global-navigation #header .main-nav {
  float: right;
  display: inline-block;
  height: 39px;
}
global-navigation #footer {
  background-color: #99cfcf;
}
global-navigation .main-nav ul {
  margin: 0;
  padding: 16px 0 0;
  list-style: none;
}
global-navigation .main-nav ul li {
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 10px;
  vertical-align: top;
  font-size: 16px;
}
global-navigation .main-nav ul li a {
  text-decoration: none;
  color: rgba(31, 45, 61, 0.5);
  font-weight: 300;
}
global-navigation .main-nav ul li a span {
  display: block;
}
global-navigation .main-nav ul li a span.bottom-border {
  width: 0;
  display: block;
  height: 2px;
  background-color: rgba(31, 45, 61, 0.5);
  margin: 5px auto;
}
global-navigation .main-nav ul li a.active span.bottom-border {
  animation: 0.25s roll-over;
  width: 100%;
}
global-navigation .main-nav ul li a.inactive span.bottom-border {
  animation: 0.25s roll-out;
  width: 0;
}
@keyframes logo-roll-over {
  from {
    opacity: .5;
  }
  to {
    opacity: .75;
  }
}
@keyframes roll-over {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes roll-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@media (max-width: 640px) {
  global-navigation #header #main-logo a h1,
  global-navigation #header #main-logo a h6 {
    display: none;
  }
}
home-page {
  background-color: #99cfcf;
  width: 100%;
  display: block;
  margin: 0;
}
home-page #biz-card::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
home-page #biz-card {
  width: 100%;
  height: calc(90vh - 25px);
  max-height: 720px;
  background-color: #99cfcf;
  display: inline-block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  padding: 40px 20px;
  box-sizing: border-box;
}
home-page #biz-card .container {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
home-page #biz-card .container h1 {
  font-size: 2.3em;
  margin: 0 0 10px;
}
home-page #biz-card .container ul {
  margin: 0;
  padding: 0;
}
home-page #biz-card .container ul li::before {
  content: '\00B7';
  display: inline-block;
  margin-right: 20px;
}
home-page #biz-card .container ul li:first-child::before {
  content: "";
  margin: 0;
  display: block;
}
home-page #biz-card .container ul li:first-child {
  margin-left: 0;
}
home-page #biz-card .container ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
home-page #biz-card .container a {
  margin: 15px 0 0;
  transition: color 0.25s ease-out;
  color: rgba(31, 45, 61, 0.5);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
}
home-page #biz-card .container a span {
  display: block;
  height: 20px;
}
home-page #biz-card .container a span::before {
  content: '\02C7';
  font-size: 200%;
  font-weight: 300;
  display: block;
}
home-page #biz-card .container a:hover {
  transition: color 0.25s ease-in;
  color: #333;
}
about-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
  height: 100%;
}
about-page h1 {
  font-size: 2.3em;
}
contact-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
}
contact-page h1 {
  font-size: 2.3em;
}
portfolio-page {
  background-color: #99cfcf;
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 20px auto 0;
}
portfolio-page h1 {
  font-size: 2.3em;
}
resume-page {
  background-color: #99cfcf;
  max-width: 816px;
  display: block;
  margin: 20px auto 0;
}
resume-page h1 {
  font-size: 2.3em;
}
resume-page #google-resume-doc.loaded .doc-container {
  padding: 31.7pt 57.6pt 27pt 57.6pt;
}
resume-page #google-resume-doc {
  max-width: 816px;
  width: 100%;
  border: 0;
  margin: 0 0 80px;
  background-color: white;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}
resume-page #google-resume-doc .doc-container {
  max-width: 496.8pt;
  padding: 0;
}
resume-page #google-resume-doc .doc-container .c16 {
  font-weight: 300;
}
resume-page #google-resume-doc .doc-container .c18 {
  margin-left: 0;
}
@media (max-width: 640px) {
  resume-page #google-resume-doc.loaded .doc-container {
    padding: 5.7pt 23.6pt 5.7pt 23.6pt;
  }
}
@media (max-width: 480px) {
  resume-page #google-resume-doc.loaded .doc-container {
    padding: 2.7pt 13.6pt 2.7pt 13.6pt;
  }
}
/* View: Project list */
project-list {
  background-color: #99cfcf;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
project-list h1 {
  font-size: 2.3em;
}
project-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
project-list ul li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.75);
}
project-list ul li:nth-child(even) {
  background-color: rgba(240, 240, 240, 0.75);
}
project-list ul li:hover h3 {
  top: -30px;
  transition: top 0.25s ease-out;
}
project-list ul li {
  width: 33.3%;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  float: left;
  position: relative;
  cursor: pointer;
}
project-list ul li a::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
project-list ul li a {
  text-decoration: none;
  color: rgba(31, 45, 61, 0.5);
  display: block;
  height: 100%;
}
project-list ul li a .valign {
  display: inline-block;
}
project-list ul li a img {
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  left: 50%;
  top: 50%;
  position: absolute;
}
project-list ul li h3 {
  margin: 0;
  position: relative;
  top: 0px;
  height: 20px;
  font-size: 15px;
  color: #eee;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.75);
  letter-spacing: .05em;
  padding: 5px;
  transition: top 0.25s ease-in;
}
@media (max-width: 768px) {
  project-list ul li {
    width: 100%;
  }
}
@media (max-width: 1080px) and (min-width: 769px) {
  project-list ul li {
    width: 50%;
  }
}
/* View: Project detail */
project-detail {
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
project-detail h1 {
  font-size: 2.3em;
}
project-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
project-detail ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
}
project-detail ul li h1 {
  font-size: 2.3em;
}
.project-list-item.ng-enter,
.project-list-item.ng-enter-prepare {
  animation: 0.5s fade-in;
  opacity: 0;
}
.project-list-item.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-frame.ng-enter,
.view-frame.ng-leave {
  left: 0;
  position: absolute;
  right: 0;
  top: 55px;
}
.view-frame.ng-enter {
  animation: 0.5s fade-in;
  z-index: 100;
}
.view-frame.ng-leave {
  animation: 0.5s fade-out;
  z-index: 200;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 640px) {
  .view-frame.ng-enter {
    animation: 0s fade-in;
    z-index: 100;
  }
  .view-frame.ng-leave {
    animation: 0s fade-out;
    z-index: 99;
  }
}
