@import "variables.less";
html {
  height:100%;
  // background-color:@MainBlue;
  background-color:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family:@MainFontFamily;
  margin:0;
  padding:0;
  height:100%;
  color:@MainFontColor;

  #app-wrap {
    min-height:100%;
    // position:relative;
    background-color:@MainBlue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.view-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color:@MainBlue;
  padding:55px 0 0;
  //height:100%;
}
.view-frame {
  background-color:@MainBlue;
  display:inline-block;
  width:100%;
}
@import "../core/global-navigation/global-navigation.less";
@import "../view/home-page/home-page.less";
@import "../view/about-page/about-page.less";
@import "../view/contact-page/contact-page.less";
@import "../view/portfolio-page/portfolio-page.less";
@import "../view/resume-page/resume-page.less";
@import "../view/project-list/project-list.less";
@import "../view/project-detail/project-detail.less";
@import "app.animations.less";