@HtmlBKG: white;
@MainFontFamily: Lato, 'sans-serif';
// @MainBlue: #99cfcf;
@MainBlue: #99AFC6;
@MainBlueDark: #758799;
@MainBlueDarkest: rgba(31, 45, 61, .8);
@MainFontColor: rgba(31,45,61,.5);
@BoldFontColor: rgba(31,45,61,.7);

// Brand colors
@LSTYellow: #f4ff3c;
@WalmartBlue: #007bc4;

// Project list
@OddLIColor: rgba(255,255, 255, .85);
@EvenLIColor: rgba(240,240, 240, .75);
@DescriptionBackground: rgba(0,0,0,.75);
@DescriptionFontColor: #eee;

@ShadowColors: -3px -3px 3px 0 rgba(0,0,0,0.19), 3px 0 3px 0 rgba(0,0,0,0.19), 0 3px 3px 0 rgba(0,0,0,0.23);

// Global nav
@HeaderBKGColor: white;
@FooterBKGColor: white;
@LogoSize: 45px;

// Biz card
@BizCardWhite: rgba(255,255,255,.8);

// Article
@BlockQuoteColor: @MainBlueDark;
@BlockQuoteBKG: #f9f9f9;

@Marquee80: inset 0 0 200px rgba(0,0,0,.8);
@Marquee50: inset 0 0 200px rgba(0,0,0,.5);