/* View: Project list */
project-list{
  background-color:@MainBlue;
  // max-width: 1080px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height:100%;
  h1 {
    font-size:2.3em;
  }
  ul {
    list-style: none;
    padding:0;
    margin:0;
    li:nth-child(odd) {
      background-color:rgba(255,255, 255, .75);
    }
    li:nth-child(even) {
      background-color:rgba(240,240, 240, .75);
    }
    li:hover {
      h3 {
        top:-30px;
        transition: top .25s ease-out;
      }
    }
    li.white {
      background-color:white;
    }
    li.lst-yellow {
      background-color:#f4ff3c;
    }
    li.walmart-blue {
      background-color:#007bc4;
    }
    li {
      width:33.3333%;
      height:250px;
      display:inline-block;
      overflow:hidden;
      float:left;
      position:relative;
      cursor:pointer;
      a::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
      }
      a {
        text-decoration: none;
        color: @MainFontColor;
        display:block;
        height:100%;
        .valign {
          display:inline-block;
        }
        img {
          transform: translateX(-50%) translateY(-50%) translateZ(0);
          left:50%;
          top:50%;
          position:absolute;
        }
        img.medium {
          width:165px;
        }
      }
      h3 {
        margin:0;
        position:relative;
        top:0;
        height:20px;
        font-size:15px;
        color:#eee;
        font-weight:300;
        background:rgba(0,0,0,.75);
        letter-spacing:.05em;
        padding:5px;
        transition: top .25s ease-in;
        // -webkit-font-smoothing: antialiased;
      }
    }
  }
}
@media (max-width:768px) {
  project-list {
    ul {
      li {
        width:100%;
      }
    }
  }
}
@media (max-width:1080px) and (min-width:769px) {
  project-list {
    ul {
      li {
        width:50%;
      }
    }
  }
}