<div id="biz-card">
    <div class="container">
        <h1>UX Development for Desktop and Mobile Web
            <!--<ul>-->
            <!--<li>Creative</li>-->
            <!--<li>Technologist</li>-->
            <!--<li>Craftsman</li>-->
            <!--<li>Leader</li>-->
            <!--</ul>-->
        </h1>
        <ul class="skill-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>JQuery</li>
        </ul>
        <a href="#">
            View Featured Projects <span></span>
        </a>
    </div>
</div>
<project-list></project-list>