<div id="main-nav">
    <ul>
        <li ng-repeat="navItem in $ctrl.data.globalFooter"
            ng-mouseenter="$ctrl.NavItemMouseEnter(navItem.title)" id="{{navItem.title}}"
            class="ng-class:navItem.isSelected">
            <a href="#!/{{navItem.url}}" ng-click="$ctrl.NavItemClick(navItem.title, $index)">
                <span>{{navItem.title}}</span>
                <span class="bottom-border"></span>
            </a>
        </li>
    </ul>
</div>
<!--ng-class="{bold: isBold(), italic: isItalic(), underline: isUnderlined()}"-->