global-navigation {
  width: 100%;
  display: block;
  #header {
    z-index: 1000;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    box-shadow: @GoogleDocShadow;
    background-color: @HeaderBKGColor;
    position: fixed;
    top:0;
    #main-logo {
      display: inline-block;
      height: 100%;
      a:hover {
        .line-art { //
          span.outline img {
            // animation: 0.25s logo-roll-over;
            // opacity: .75;
          }
        }
      }
      a {
        margin-top: 5px;
        text-decoration: none;
        display: inline-block;
        height: 100%;
        .line-art {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin: 0 5px;
          width: @LogoSize;
          height: @LogoSize;
          span.outline img {
            width: @LogoSize;
            position: absolute;
            opacity: 1;
            display: inline-block;
          }
          span.outline.home img {
            opacity: .75;
          }
          span.initials img {
            width: @LogoSize;
            position: absolute;
            opacity: 1;
            display: inline-block;
          }
        }
        .name-title {
          display: inline-block;
          vertical-align: top;
          line-height: 1.1em;
          margin-top: 6px;
        }
        h1 {
          font-weight: 500;
          font-size: 1.5em;
          margin: 0;
          padding-top: 0;
          color: @BoldFontColor;
          display: block;
        }
        h6 {
          margin: 0;
          font-weight: 300;
          font-size: 1em;
          letter-spacing: .015em;
          color: @BoldFontColor;
          display: block;
          vertical-align: top;
        }
      }
    }
    .main-nav {
      float: right;
      display: inline-block;
      height: 39px;
    }
  }
  #footer {
    background-color: @FooterBKGColor;
    height: 55px;
    position: relative;
    overflow: hidden;
    .main-nav {
      float: right;
      display: inline-block;
      height: 39px;
    }
    .inner-shadow-div {
      width: 100%;
      height: 5px;
      display: inline-block;
      float: left;
      position: relative;
      top: -5px;
      box-sizing: border-box;
      box-shadow: @ShadowColors;
      background-color: white;
    }
    .copyright {
      display: inline-block;
      vertical-align: top;
      margin: 16px 5px 0;
      font-size: .7em;
      font-weight: 300;
    }
  }
  .main-nav {
    ul {
      margin: 0;
      padding: 16px 0 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 0 0 5px;
        margin: 0 10px;
        vertical-align: top;
        font-size: 16px;
        a {
          text-decoration: none;
          color: @MainBlueDarkest;
          font-weight: 300;
          span {
            display: block;
          }
          span.bottom-border {
            width: 0;
            display: block;
            height: 2px;
            background-color: @MainBlueDarkest;
            margin: 5px auto;
          }
        }
      }
      li {
        // This breaks on mobile browsers, which handle mouse events differently
        // http://sitr.us/2011/07/28/how-mobile-safari-emulates-mouse-events.html
        // By adding hover class, the browser requires 2 clicks for an anchor to trigger click event
        //a:hover.isOff {
        //  span.bottom-border {
        //    animation: 0.25s roll-over;
        //    width: 100%;
        //  }
        //}
      }
      li {
        a.active {
          span.bottom-border {
            animation: 0.25s roll-over;
            width: 100%;
          }
        }
      }
      li {
        a.inactive {
          span.bottom-border {
            animation: 0.25s roll-out;
            width: 0;
          }
        }
      }
    }
  }
}

@keyframes logo-roll-over {
  from {
    opacity: .5;
  }
  to {
    opacity: .75;
  }
}

@keyframes roll-over {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes roll-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media (max-width: 370px) {
  global-navigation {
    #header {
      .main-nav {
        ul {
          padding: 20px 0 0;
          li {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  global-navigation {
    #header {
      #main-logo {
        a {
          .line-art {
            margin: 0 0 0 5px;
          }
          h1, h6 {
            display: none;
          }
        }
      }
    }
  }
}