<!--Right side mobile nav?-->
<div id="header" ng-init="$ctrl.SetDocumentTitle()">
    <div id="main-logo">
        <!--Research SVG for line art logo-->
        <!-- design placeholder -->

        <a href="#!/">
            <span class="line-art">
                <span class="outline"><img src="img/portfolio-logo-outline.png" /></span>
                <span class="initials"><img src="img/portfolio-logo-type.png" /></span>
            </span>
            <h1>Jamie Lloyd</h1>
            <h6>Creative Technologist</h6>
        </a>
    </div>
    <div class="main-nav">
        <ul>
            <li ng-repeat="navItem in $ctrl.data.globalHeader" id="{{navItem.title}}">
                <a href="#!/{{navItem.url}}"
                   ng-mouseenter="$ctrl.NavItemMouseEnter(navItem.title)"
                   ng-mouseleave="$ctrl.NavItemMouseLeave(navItem.title)"
                   class="ng-class:navItem.isSelected">
                    <span>{{navItem.title}}</span>
                    <span class="bottom-border"></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<!--

Todo:
* header
    * logo line art
    * mobile break points
    * // make full bleed
    * // make fixed to top
        * // white bkg?
        * // bottom shadow
* Footer
    * // Move below view container
    * Multi column list?

-->

<!--ng-class="{bold: isBold(), italic: isItalic(), underline: isUnderlined()}"-->

<!--  Binding class="ng-class:navItem.isSelected" on the LI causes need for double click on mobile, not sure why? -->

<!-- ng-click="$ctrl.NavItemClick($event, navItem.title)" -->

